# Palette
# #362D2D
# #E8E3E3
# #3A89C9
# #1A1111
# #5C5151


pre, code {
    font-size:11px;
    font-family:consolas, helvetica, sans-serif;
}

pre {
    display:block;
    background-color:#f9f3b0;
    color:#333;
    overflow:auto;
    padding:10px 20px;
}

code {white-space:nowrap;}

pre {
  font-family:consolas,helvetica,sans-serif;
  background-color:#E8E3E3;
  border:1px solid #CCCCCC;
  padding:5px 15px 5px 25px;
}

body {
    margin:0 auto;
    font-family: Verdana, Arial;
    font-size:13px;
    max-width:50em;
    color:#444;
    line-height:140%;
    text-align:justify;
    background-color: #FFFFFF;
}

a:link {
  color:#595849;
  font-family: Verdana, Arial;
  font-size:13px;
}

a:visited {
  color:#9E8E8F;
  font-family: Verdana, Arial;
  font-size:13px;  
}

td {
  font-family: Verdana, Arial;
  font-size:13px;  
}

h2, h3, h4, h5, h6 {
    color:#5C5151;
    line-height:130%;
    margin-top:0em;
    font-family:Verdana, Arial;
}

h1 {
    line-height:1.2em;
    color:#362D2D;
    font-size:2em;
    
}

h2 {font-size:1.5em;}

h3 {
    font-size:1.1em;
    padding-top:0em;
    padding-bottom:0em;
}


hr {
    border-collapse:collapse;
    border-style:none;
    border-top:1px dotted #aaa;
    width:100%;
}
